$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-size-base: 10px;
$font-size-extra-small: 1.4rem;
$font-size-small: 1.6rem;
$font-size-medium: 1.8rem;
$font-size-button: 1.8rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
