@import 'scss/mixins/colors';
@import 'scss/mixins/breakpoints';
@import 'scss/mixins/fonts';

.button {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  box-sizing: inherit;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: $font-size-button;
  font-weight: 500;
  line-height: normal;
  padding: 1.5rem 2rem;
  text-align: center;
  transition: all 0.25s;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($white, 5%);
    border-color: darken($white, 5%);
    text-decoration: none;
  }

  &.inverted {
    background-color: transparent;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
      color: $black;
    }
  }

  &.primary {
    background-color: $purple;
    border-color: $purple;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($purple, 8%);
      border-color: darken($purple, 8%);
    }
  }

  &.secondary {
    background-color: $teal;
    border-color: $teal;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($teal, 8%);
      border-color: darken($teal, 8%);
      color: $white;
    }
  }

  &.asText {
    background-color: transparent;
    border-color: transparent;
    color: $teal;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: transparent;
      color: $rust;
    }
  }
}
