@import 'scss/variables/colors';
@import 'scss/mixins/breakpoints';
@import 'scss/variables/grid';
@import 'scss/keyframes';

.splash {
  color: $off-white;
  height: calc(100vh + #{$nav-height} + #{$nav-margin-top});
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 0;
  position: relative;

  .bg {
    background-color: #090a1a;
    background-image: url('assets/images/splash/nebula-background.jpg');
    background-position: 15% 15%;
    background-size: auto 125vh;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &WithActiveNav {
    z-index: auto;
  }

  &::after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)
      repeat;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.splashContainer {
  height: 100vh;
}

.splashContent {
  z-index: 2;
}

.rocketCta {
  margin-top: 2rem;
  min-width: 15rem;

  &:focus {
    outline: 0;
  }

  .rocketIcon {
    display: inline-block;
    padding-left: 1rem;
    transition: all 0.25s;

    &::before {
      display: inline-block;
    }
  }

  &.inactive {
    &:hover {
      .rocketIcon {
        animation: shake 0.82s infinite;

        &::before {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &.active {
    .rocketIcon {
      animation: blastoff 1.6s ease-in;
      animation-fill-mode: forwards;
      color: $rust;

      &::before {
        transform: rotate(-45deg);
      }
    }
  }
}
