@import "../scss/mixins/colors";
@import "../scss/mixins/breakpoints";
@import "../scss/keyframes";

.splash {
  background-color: #090a1a;
  background-image: url("../assets/images/nebula-background.jpg");
  background-position: 0;
  color: $white;
  height: calc(100vh + 5.3rem);
  padding-bottom: 0;
  position: relative;

  &::after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=)
      repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  @media (min-width: 1824px) {
    background-size: 105%;
  }
}

.splashContainer {
  height: 100vh;
}

.splashContent {
  z-index: 2;
}

.rocketCta {
  margin-top: 2rem;
  min-width: 15rem;

  &:focus {
    outline: 0;
  }

  .rocketIcon {
    display: inline-block;
    padding-left: 1rem;
    transition: all 0.25s;
  }

  &.inactive:hover .rocketIcon {
    animation: shake 0.82s infinite;
    transform: rotate(-45deg);
  }

  &.active .rocketIcon {
    animation: blastoff 1.6s ease-in;
    animation-fill-mode: forwards;
    color: $rust;
    transform: rotate(-45deg);
  }
}
