@import 'scss/mixins/breakpoints';
@import 'scss/variables/grid';

.content {
  margin-top: $gutter-width/2;
  padding: 0 $gutter-width;
  text-align: left;

  @include breakpoint(md) {
    margin-top: $gutter-width/2;
  }

  @include breakpoint(xl) {
    margin-top: $gutter-width;
  }
}

.bodyGrid {
  display: grid;
  justify-content: center;
  margin: auto;
  max-width: 70rem;
  position: relative;

  @include breakpoint(lg) {
    grid-template-columns: minmax(auto, 70rem);
  }

  @include breakpoint(xl) {
    grid-column-gap: 9.2rem;
    grid-template-columns: 35rem 70rem;
  }
}
