@import "./mixins/breakpoints";

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiddenLteSm {
  display: none !important;
}

.marginBottomFourth {
  margin-bottom: 0.25rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.marginBottomExtra {
  margin-bottom: 1.5rem;
}

.marginBottom2x {
  margin-bottom: 2rem;
}

.marginTop0 {
  margin-top: 0;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

@include breakpoint(medium) {
  .hiddenLteSm {
    display: block !important;
  }

  .visibleLteSm {
    display: none !important;
  }
}

@media print {
  .hidePrint {
    display: none !important;
  }

  .showPrint {
    display: block !important;
  }
}
