@import './mixins/breakpoints';

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiddenLteMd,
.hiddenXs {
  display: none !important;
}

.marginBottomFourth {
  margin-bottom: 0.25rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.marginBottomExtra {
  margin-bottom: 1.5rem;
}

.marginBottom2x {
  margin-bottom: 2rem;
}

.marginTop0 {
  margin-top: 0;
}

.noselect {
  -webkit-touch-callout: none;
  user-select: none;
}

@include breakpoint(sm) {
  .hiddenXs {
    display: block !important;
  }
}

@include breakpoint(md) {
  .hiddenMd {
    display: none !important;
  }

  .showMd {
    display: block !important;
  }
}

@include breakpoint(md) {
  .hiddenMd {
    display: none !important;
  }
}

@include breakpoint(lg) {
  .visibleLteMd {
    display: none !important;
  }

  .hiddenLteMd {
    display: block !important;
  }
}

@media print {
  .hidePrint {
    display: none !important;
  }

  .showPrint {
    display: block !important;
  }
}
