@import './variables/fonts';
@import './mixins/breakpoints';
@import './variables/colors';

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color ease 0.2s;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

@mixin breakpoint($min-width-breakpoint) {
  body {
    font-size: $font-size-medium;
  }
}
