@import 'scss/keyframes';

.starsContainer {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 105vw;
  z-index: 1;
}

.stars {
  height: 100%;
  width: 100%;

  canvas {
    animation: reveal 0.6s ease-in;
  }
}
