.button {
  background-color: $white;
  border: 2px solid $white;
  border-radius: 5px;
  box-sizing: inherit;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-button;
  padding: 1rem 2rem;
  transition: all 0.25s;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($white, 5%);
    border-color: darken($white, 5%);
    text-decoration: none;
  }

  &--inverted {
    background-color: transparent;
    color: $white;

    &:hover,
    &:focus,
    &:active {
      background-color: $white;
      color: $black;
    }
  }

  &--as-text {
    background-color: transparent;
    border-color: transparent;
    color: $teal;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: transparent;
      color: $rust;
    }
  }
}

.cta {
  margin-top: 2rem;
  min-width: 15rem;

  &:focus {
    outline: 0;
  }

  &__icon {
    display: inline-block;
    padding-left: 1rem;
    transition: all 0.25s;
  }

  &--inactive:hover .cta {
    &__icon {
      animation: shake 0.82s infinite;
      transform: rotate(-45deg);
    }
  }

  &--active .cta {
    &__icon {
      animation: blastoff 1.6s ease-in;
      animation-fill-mode: forwards;
      color: $rust;
      transform: rotate(-45deg);
    }
  }
}
